* {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2 {
	font-size: 20px;
	padding-bottom: 10px;
}

img {
	height: 200px;
	width: 200px;
	display: block;
	border-radius: 40%;
}

body {
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-position: 350px -85px;
}

.choose, .choice, .enemy {
	color: white;
	border: 3px solid yellow;
	padding: 5px;
	margin: 5px;
	display: inline-block;
	min-width: 200px;
	min-height: 200px;
	background-color: black;
	vertical-align: top;
}

span {
	display: inline-block;
	text-align: center;
	color: orange;
	font-weight: bolder;
}

#result {
	margin-top: 10px;
}

#give {
	color: aqua;
}

#take {
	color: red;
}

#next {
	vertical-align: top;
	margin-left: 50px;
	margin-top: 10px;
}

.btn {
	margin: 20px 0 0 35px;
}

#win {
	background-color: black;
	text-align: center;
	font-size: 40px;
	color: lemonchiffon;
	position: fixed;
	display: inline-block;
	top: 10%;
	left: 15%;
}

#win img {
	border-radius: 1%;
	height: 400px;
	width: auto;
}

#lose {
	background-color: black;
	text-align: center;
	font-size: 40px;
	color: lemonchiffon;
	position: fixed;
	display: inline-block;
	top: 10%;
	left: 15%;
}

#lose img {
	border-radius: 1%;
	height: 400px;
	width: auto;
}